.map-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.map-image {
    width: 100%;
    height: auto;
    margin: 5%;
}
.map-dot {
    position: absolute;
    width: 3vh; /* Increased size for better visibility of the number */
    height: 3vh;
    max-width: 2.5vw; /* Ensures the dots are also responsive to viewport width */
    max-height: 2.5vw;
    background-color: orange;
    color: white; /* Color of the text */
    text-align: center;
    line-height: 20px; /* Center the text vertically */
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    font-size: clamp(0.7rem, 0.8rem, 1rem); /* Adjust font size for better readability */
}
.popup {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
    max-width: 200px; /* Add a max-width to control popup size */
}
    

@media (min-width: 739px) and (max-width: 1048px) {
    .map-dot {
        width: 2vw;
        height: 2vw;
        font-size: clamp(0.4rem, 0.6rem, 0.8rem);
        line-height: 15px;
    }
}

@media (max-width: 738px) {
    .map-dot {
        width: 2vw;
        height: 2vw;
        font-size: clamp(0.4rem, 0.42rem, 0.5rem); 
        line-height: 8px;
    }
}

